:root {
  --color-blue: #2778ec;
  --color-white: #ffffff;
  /* --color-lightgray: #f1f3f6; */
  --color-lightgray: rgb(153, 150, 150);
  --color-lightgray1:rgb(236, 234, 234);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 50px;
  width: 100vw;
  margin: auto;
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
}

.navbar__image {
  height: 80px;
  width: 80px;
  margin-left: 450px;
}

.navbar__second--section {
  display: flex;
  width: 550px;
  height: 35px;
  margin-left: 10px;
}

.navbar__search__icon {
  position: relative;
  left: -30px;
  top: 8px;
}

.navbar__search__input {
  box-sizing: border-box;
  text-align: start;
  border-radius: 1px;
  width: 100%;
  font-size: 10px;
  border: none;
  padding-left: 10px;
}

.navbar__third--section {
  display: flex;
  margin: 150px;
}

.login__btn {
  font-size: 18px;
  padding: 5px;
  width: 100px;
  border: none;
  background-color: var(--color-white);
  color: var(--color-blue);
}

.login__more {
  margin-left: 50px;
  margin-top: 6px;
  color: var(--color-white);
  font-weight: bold;
}

.navbar__dropdown {
  color: var(--color-white);
}

.login__svg__logo {
  margin-top: 10px;
  margin-left: 3px;
}

.navbar__cart__icon {
  margin-left: 50px;
  margin-top: 5px;
}

.nav__cart__text {
  color: var(--color-white);
  margin-left: 7px;
  margin-top: 6px;
  font-weight: bold;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .navbar__first {
    justify-content: space-between;
    gap: 0vw;
    padding: 1.5vh 4vw;
  }

  .login__more {
    display: none;
  }

  .navbar__second {
    display: none;
  }

  .navbar__cart__icon {
    /* font-size: 0; */
    width: 30px;
  }
}

/* -------------------category__bar--------------------- */

.category__bar__container {
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-color: var(--color-white);
}

.category__image1 {
  text-align: center;
}

.category__bar--images {
  width: 50px;
}

.category__bar--text1 {
  margin-top: 8px;
  position: relative;
}
.category__svg__logo1 {
  margin-left: 30px;
  position: absolute;
  margin-top: -15px;
}
.category__svg__logo2 {
  margin-left: 40px;
  position: absolute;
  margin-top: -15px;
}
.category__svg__logo3 {
  margin-left: 25px;
  position:absolute;
  margin-top: -15px;
}
.category__svg__logo4 {
  margin-left: 40px;
  position: absolute;
  margin-top: -15px;
}

.category__svg__logo5 {
  margin-left: 70px;
  position: absolute;
  margin-top: -15px;
}

/* ------------------------dealoftheday--section -------------------------------- */

body {
  background-color: #f1f3f6;
}

.deals__section {
  height: 350px;
  width: 1390px;
  /* border: 1px solid black; */
  /* padding: 10px 5px 5px 30px; */
  margin-left: 120px;
  margin-top: 20px;
  background-color: var(--color-white);
  white-space: nowrap;
  padding: 10px;
  scroll-behavior: smooth;
}

.slider {
  overflow-x: auto;
  display: flex;
  gap: 10px;
}

/* .deals__time{
  height: 60px;
  width: 1390px;
}  */

.deals__time--text {
  /* background-color: pink; */
  font-size: 25px;
  padding: 10px 0px 10px 10px;
  display: flex;
  justify-content: space-center;
  border-bottom: 1px solid #c2afab;
  /* position: fixed; */
}

.deal_time--svg {
  margin-left: 20px;
  margin-top: 5px;
}

.deals__time--text--1 {
  font-size: 15px;
  color: var(--color-lightgray);
  margin-top: 9px;
  margin-left: 7px;
}

.deal__btn {
  color: var(--color-white);
  background-color: var(--color-blue);
  margin-left: 970px;
  border: none;
  padding: 10px;
}

.deal__product {
  height: 280px;
  width: 200px;
  /* border: 1px solid black; */
  display: flex;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}

.product__image1 {
  height: 190px;
  width: 140px;
  margin-left: 20px;
  margin-top: 10px;
}

.product__deal--text {
  margin-top: 200px;
  white-space: nowrap;
  margin-left: -150px;
}

.product__deal--text--1 {
  margin-top: 230px;
  white-space: nowrap;
  color: green;
  margin-left: -170px;
  line-height: 0.4;
  font-size: 14px;
}

.product__deal--text--2 {
  margin-top: 250px;
  white-space: nowrap;
  margin-left: -120px;
  line-height: 0.4;
  font-size: 14px;
  color: rgb(153, 150, 150);
}

.product__deal--text--3 {
  margin-top: 230px;
  white-space: nowrap;
  color: green;
  margin-left: -130px;
  line-height: 0.4;
  font-size: 14px;
}

.product__deal--text--4 {
  margin-top: 250px;
  white-space: nowrap;
  margin-left: -100px;
  line-height: 0.4;
  font-size: 14px;
  color: rgb(153, 150, 150);
}

.product__image03 {
  height: 150px;
  width: 140px;
  margin-left: 20px;
  margin-top: 25px;
}

.product__deal--text--03 {
  margin-top: 200px;
  white-space: nowrap;
  margin-left: -130px;
}

.product__deal--text--5 {
  margin-top: 230px;
  white-space: nowrap;
  color: green;
  margin-left: -100px;
  line-height: 0.4;
  font-size: 14px;
}

.product__deal--text--6 {
  margin-top: 250px;
  white-space: nowrap;
  margin-left: -90px;
  line-height: 0.4;
  font-size: 14px;
  color: rgb(153, 150, 150);
}

.product__deal--text--04 {
  margin-top: 200px;
  white-space: nowrap;
  margin-left: -120px;
}

.product__deal--text--7 {
  margin-top: 230px;
  white-space: nowrap;
  color: green;
  margin-left: -79px;
  line-height: 0.4;
  font-size: 14px;
}

.product__deal--text--8 {
  margin-top: 250px;
  white-space: nowrap;
  margin-left: -80px;
  line-height: 0.4;
  font-size: 14px;
  color: rgb(153, 150, 150);
}

.product__image05{
  height: 190px;
  width: 140px;
  margin-left: 5px;
  margin-top: 10px;
}

.product__deal--text--05 {
  margin-top: 200px;
  white-space: nowrap;
  margin-left: -129px;
}

.product__deal--text--9 {
  margin-top: 230px;
  white-space: nowrap;
  color: green;
  margin-left: -80px;
  line-height: 0.4;
  font-size: 14px;
}

.product__deal--text--10 {
  margin-top: 250px;
  white-space: nowrap;
  margin-left: -70px;
  line-height: 0.4;
  font-size: 14px;
  color: rgb(153, 150, 150);
}

.scroll__button{
  position: absolute;
  background-color: var(--color-white);
  height: 80px;
  width: 50px;
  color: black;
  margin-left: 1350px;
  margin-top: 90px;
  box-shadow: 0px 0px 3px 3px var(--color-lightgray1);
}

.scroll__button__symbol{
  text-align: center;
  margin-top: 15px;
  margin-left: 4px;
}

.image__section {
  float: right;
  height: 368px;
  width: 220px;
  /* border: 1px solid blue; */
  margin-right: 90px;
  margin-top: -370px;
}

.books__section {
  height: 350px;
  width: 1600px;
  /* border: 1px solid black; */
  padding: 10px 5px 5px 30px;
  margin-left: 120px;
  margin-top: 20px;
  background-color: var(--color-white);
}

.deal__btn--1 {
  color: var(--color-white);
  background-color: var(--color-blue);
  margin-left: 1200px;
  border: none;
  padding: 10px;
}

.product__image15{
    height: 130px;
    width: 150px;
    margin-left: 20px;
    margin-top: 50px;
  }

.product__deal--text--15{
  margin-top: 200px;
  white-space: nowrap;
  margin-left: -115px;
}


.product__deal--text--16 {
  margin-top: 230px;
  white-space: nowrap;
  color: green;
  margin-left: -80px;
  line-height: 0.4;
  font-size: 14px;
}

.product__deal--text--17 {
  margin-top: 250px;
  white-space: nowrap;
  margin-left: -70px;
  line-height: 0.4;
  font-size: 14px;
  color: rgb(153, 150, 150);
}

.product__deal--text--18{
  margin-top: 200px;
  white-space: nowrap;
  margin-left: -90px;
}

.product__deal--text--19 {
  margin-top: 230px;
  white-space: nowrap;
  color: green;
  margin-left: -60px;
  line-height: 0.4;
  font-size: 14px;
}

.product__deal--text--20 {
  margin-top: 250px;
  white-space: nowrap;
  margin-left: -70px;
  line-height: 0.4;
  font-size: 14px;
  color: rgb(153, 150, 150);
}

.product__deal--text--21{
  margin-top: 200px;
  white-space: nowrap;
  margin-left: -150px;
}

.product__deal--text--22 {
  margin-top: 230px;
  white-space: nowrap;
  color: green;
  margin-left: -120px;
  line-height: 0.4;
  font-size: 14px;
}

.product__deal--text--23 {
  margin-top: 250px;
  white-space: nowrap;
  margin-left: -70px;
  line-height: 0.4;
  font-size: 14px;
  color: rgb(153, 150, 150);
}

.product__deal--text--24{
  margin-top: 200px;
  white-space: nowrap;
  margin-left: -125px;
}

.product__deal--text--25 {
  margin-top: 230px;
  white-space: nowrap;
  color: green;
  margin-left: -95px;
  line-height: 0.4;
  font-size: 14px;
}

.product__deal--text--26 {
  margin-top: 250px;
  white-space: nowrap;
  margin-left: -70px;
  line-height: 0.4;
  font-size: 14px;
  color: rgb(153, 150, 150);
}

